.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid black;
  margin-top: 20px;
  border-radius: 15px;
  background-color: #f4f4f4;
  box-shadow: 1px 1px 5px black;
}
p {
  margin-top: 2px;
  font-size: 15px;
}
i {
  cursor: pointer;
}
