.btn {
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
}
.btn:active {
  box-shadow: 0 0 black;
}
.asfd {
  color: rgb(10, 152, 10);
}
